.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 40px 0;
}

.contentContainer {
  width: 100%;
  max-width: 1280px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  height: 100vh;
}

.gridContainer {
  display: grid;
  grid-template-columns: 80% auto;
  height: 100%;
  max-width: 1280px;
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid gray;
}

.leftColumn {
  background-color: teal;
  height: 100%;
  border-right: 1px solid gray;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.topBlock {
  background-color: blue;
  padding: 12px;
  height: 800px;
  overflow-y: auto;
}

.cardContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1280px) {
  .gridContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .leftColumn {
    height: 50vh;
  }

  .rightColumn {
    height: 50vh;
  }

  .topBlock {
    height: 40%;
  }

  .cardContainer {
    height: 60%;
  }
}
